/* color scheme found at 
https://image-color.com/color-picker.html#877591 
https://image-color.com/color-picker.html#AF85D4 
https://image-color.com/color-picker.html#AF85D4
*/

body {
    background-color: #8596D4;
    color: #1F2332;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: center;
    /* border: red solid 3px */
}

.heading {
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: 4vw;
    flex-wrap: nowrap;
    margin: 3px;
    /* border: green solid 3px; */
}

.time_and_date {
    /* flex: 1;  should this go here? i dont fucking know */
    width: 30%;
    height: 20vh;
    font-size: 0.75em;
    text-align: left;
    /* border: aqua solid 3px; */
}

.search {
    width: 100%;
    height: 11vh;
    text-align: center;
    /* border: greenyellow solid 3px; */
}

input[type=text] {
    width: 45vw;
    height: 3.5vh;
    font-size: 1em;
    padding: 12px 20px;
    border: 8px solid #85D49B;
    border-radius: 12px;
    background-color: #D4C385;
}

.links {
    width: 33%;
    /* height: 10%; */
    text-align: center;
    font-size: 2.5vw;
    /* border: red solid 3px; */
}

a {
    color: rgb(49, 42, 52);
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover,
a:active {
    background-color: #6875A6;
    text-decoration: underline;
}

.ticker-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    box-sizing: content-box;
    /* border: blue solid 3px */
}

.ticker-wrap .ticker {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 90s;
}

.ticker-wrap .ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}